.pop-up__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 238px;
  margin: 0 auto;
  display: block;
  padding-bottom: 13px;
  outline: none;
}

.pop-up__input::placeholder {
  color: #c4c4c4;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

/* .pop-up__input:nth-child(2) {
  margin-top: 75px;
} */

@media screen and (min-width: 624px) {
  .pop-up__input {
    width: 358px;
  }

  /* .pop-up__input:nth-child(2) {
    margin-top: 54px;
  } */
}
