.profile__subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
  text-align: center;
  margin: 14px auto 0;

  grid-area: subtitle;
  justify-self: start;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 250px;
}

@media screen and (min-width: 624px) {
  .profile__subtitle {
    font-size: 18px;
    line-height: 22px;
    max-width: 520px;
  }
}

@media screen and (min-width: 920px) {
  .profile__subtitle {
    margin-left: 30px;
  }
}
