.pop-up__close-btn {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  width: 20px;
  height: 20px;
  margin: 0;
  padding: 0;
  align-self: flex-end;
  background-image: url(../../../ui-elements/close-symbol.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  transition: 0.3s;
  position: relative;
  top: -16px;
}

.pop-up__close-btn:hover {
  opacity: 0.6;
}

@media screen and (min-width: 624px) {
  .pop-up__close-btn {
    width: 32px;
    height: 32px;
    background-size: 32px;
    margin: 0;
    top: -8px;
    right: -40px;
  }
}
