.content {
  max-width: 282px;
  margin: auto;
}

@media screen and (min-width: 624px) {
  .content {
    max-width: var(--medium-screen-size);
  }
}

@media screen and (min-width: 920px) {
  .content {
    max-width: var(--large-screen-size);
  }
}
